<!DOCTYPE html>
<html>
<head>
<title></title>

<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%- include('./common/stylesheet') %>

</head>

<body style="background-image:url(../../image/2.jpg); no-repeat; background-size: 1320px,500px;">
<br><br>
 <h3><center></center></h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div style="background-color: gray;opacity: 0.8;" class="jumbotron col-sm-4">
  
  <legend><font size="5" color="#0000CD"><center> <b>Let’s find your account</b></center></font></legend>
  <form>
    <div class="form-group">
    <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
    <input name="email" id="email" type="email" class="form-control" placeholder="Enter Your Registered Email" required="required">
    </div>
  </div>
  

  <button type="submit" class="btn btn-info"" id="submit-btn" style="background-color:#006400;"><font color="#7FFF00"><strong>Submit</strong></font></button>
  

</form>
</div>
  <div class="col-sm-4"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <%- include('./common/javascript') %>
</body>
</html>